@media (max-width: 859px) {
  .main img {
    max-width: 190px;
  }
  .container {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .header {
    display: none;
  }
  .main {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  .main-content {
    align-items: center;
    gap: 16px;
  }
  .post-top {
    justify-content: center;
  }
  .post-top a {
    display: none;
  }
  .post {
    flex-direction: column;
    align-items: center;
  }
}
